<li class="list-group-item background-color-custom">
    <div class="media-body animated fadeInLeft">
   
        {{#each payload}} 
        {{#if_eq platform "facebook"}} 
        {{#key_value payload.facebook.quick_replies_img}}
        {{#key_value payload.facebook.text}}  
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
        <td style="vertical-align:top;"><img width="40" height="40" class="bot-logo-image" style="border:none;" /></td><td><p class="list-group-item-quick-reply-space">{{{payload.facebook.text}}}</p>{{/key_value}}
        <div class="quick-replies-buttons" style="display:contents">
        {{#each payload.facebook.quick_replies_img}} 
        {{#if payload}}
        <button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-info QuickreplybtnPayload btn-img" 
           data-quickRepliesPayload="{{payload}}">
                <img src="avatar/image/{{title}}.svg" width="40" height="40"/><span>{{title}}</span></button>
            {{else if url}}
            <button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-info QuickreplybtnPayload" 
            onClick="window.location.href='{{url}}'; 'height=400,width=600'">{{title}}</button>
            {{else if tab}}
            <button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-info QuickreplybtnPayload" 
            onClick="window.open('{{tab}}','_blank'); ">{{title}}</button>

         {{/if}} {{/each}}
         {{/key_value}}
        </div>
        </td></tr>
        </table>
         {{/if_eq}} {{/each}}
        <p class="bot-res-timestamp-qr">
            <small>
                <img style="border-radius:50%;border:2px solid white;"/>{{time}}</small>
        </p>
    </div>
</li>